$std_lv_1: #0797FF;
$std_lv_2: #0679CC;
$std_lv_3: #023559;
$std_lv_4: #022D4C;
$std_lv_5: #011E33;

$reverse: #fff;

$gray_lv_1: #efefef;
$gray_lv_2: #ccc;

$fs_lv_1: 12px;
$fs_lv_2: 14px;
$fs_lv_3: 16px;
$fs_lv_4: 18px;
$fs_lv_5: 20px;
$fs_lv_6: 22px;
$fs_lv_7: 24px;
