@import './mixin/theme';

/* home */
.home-wrap {
  color: $std_lv_2;
  &_box {
    &-rename {
      position: relative;
      width: 400px;
      min-height: 200px;
      max-height: 300px;
      background-color: $std_lv_2;
      overflow-y: auto;
      overflow-x: hidden;
    }
  }
  &_files {
    position: absolute;
    display: block;
    // visibility: hidden;
    width: 100%;
    height: 99%;
    border: 1px solid #999;
    opacity: 0;
    z-index: 2;
  }
  &_filelist {
    color: #fff;
    padding: 8px;
    li {
      position: relative;
      height: 30px;
      line-height: 30px;
      text-align: center;
    }
    .name--origin,
    .name--target {
      position: absolute;
      top: 0;
      width: 160px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .name--origin {
      left: 0;
      text-align: left;
    }
    .name--target {
      right: 0;
      text-align: right;
    }
  }
  &_options {
    padding: 20px;
    font-size: $fs_lv_1;
  }
  &_option {
    padding-bottom: 16px;
  }
  &_intro {
    display: inline-block;
    vertical-align: top;
    width: 46%;
    height: 24px;
    border-bottom: 1px solid $std_lv_2;
    margin-right: 4%;
    line-height: 24px;
    h4 {
      box-sizing: border-box;
      display: inline-block;
      width: 40%;
      padding: 0 6px;
      height: 100%;
      margin-right: 4%;
      background-color: $std_lv_2;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      color: $reverse;
      text-align: center;
    }
    input[type="text"] {
      box-sizing: border-box;
      width: 56%;
      padding: 2px 4px;
    }
  }
  &_footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    height: 40px;
    background-color: $std_lv_2;
    text-align: center;
    &-operation {
      overflow: hidden;
      li {
        float: right;
        width: 40px;
        height: 40px;
        color: #fff;
        line-height: 40px;
        cursor: pointer;
        &:hover {
          background-color: $std_lv_1;
        }
      }
    }
    .icon-sure {
      font-size: 16px;
    }
    .icon-trash {
      font-size: 20px;
    }
  }
}
/* login */
.login-info{
  padding-top: 20px;
  button{
    padding: 6px 10px;
    &:hover{
      cursor: pointer;
    }
  } 
}
.login-item{
  position: relative;
  display: block;
  padding-left: 80px;
  padding-bottom: 20px;
  line-height: 30px;
  h4{
    position: absolute;
    left: 0;
    top: 0;
    width: 80px;
    text-align: right;
  }
  input{
    display: block;
    box-sizing: border-box;
    height: 30px;
    margin-left: 20px;
    border: 1px solid #999;
  }
}
