/* index 通用 */
.index-wrap{
  
}
.nav-index{
  position: relative;
  padding: 20px 20px 0 20px;
  box-shadow: 0 10px 20px #ddd;
  .nav-item{
    display: inline-block;
    vertical-align: top;
    font-size: 20px;
    line-height: 40px;
    padding: 0 20px;
    box-sizing: border-box;
    &.active, &:hover{
      color: #56aaff;
      border-bottom: 2px solid #56aaff;
    }
  }
  .nav-login{
    position: absolute;
    right: 0;
    &:hover{
      cursor: pointer;
    }
  }
}

/* home */
.home-wrap {
  padding: 20px;
  color: pink;
  &_box {
    &-rename {
      position: relative;
      width: 400px;
      height: 200px;
      background-color: pink;
      overflow-y: auto;
      overflow-x: hidden;
    }
  }
  &_files {
    position: absolute;
    display: block;
    // visibility: hidden;
    width: 100%;
    height: 99%;
    border: 1px solid #999;
    opacity: 0;
  }
  &_filelist {
    color: #777;
    padding: 8px;
    li {
      position: relative;
      height: 30px;
      line-height: 30px;
      text-align: center;
    }
    .name--origin,
    .name--target {
      position: absolute;
      top: 0;
    }
    .name--origin {
      left: 0;
      text-align: left;
    }
    .name--target {
      right: 0;
      text-align: right;
    }
  }
  &_intro {
    display: block;
    padding: 10px 0 0 0;
    h4 {
      display: inline-block;
      width: 80px;
    }
    input[type="text"] {
      width: 80px;
      padding: 2px 4px;
      border-bottom: 1px solid pink;
    }
    label {
      cursor: pointer;
    }
    input[type="radio"] {
      vertical-align: middle;
      width: 14px;
      height: 14px;
      border: 1px solid pink;
      margin: 0 6px;
      &:checked {
        background: pink;
      }
    }
  }
  &_making {
    padding: 2px 4px;
    border: 1px solid pink;
    color: pink;
  }
  
}
/* login */
.login-info{
  padding-top: 20px;
  button{
    padding: 6px 10px;
    &:hover{
      cursor: pointer;
    }
  } 
}
.login-item{
  position: relative;
  display: block;
  padding-left: 80px;
  padding-bottom: 20px;
  line-height: 30px;
  h4{
    position: absolute;
    left: 0;
    top: 0;
    width: 80px;
    text-align: right;
  }
  input{
    display: block;
    box-sizing: border-box;
    height: 30px;
    margin-left: 20px;
    border: 1px solid #999;
  }
}

/* aside */
.aside-wrap{
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  line-height: 30px;
  .aside-container{
    border-right: 1px solid #999;
  }
  .aside-item{
    span{
      display: block;
      padding-left: 20px;
      border-bottom: 1px solid #999;
      &:hover{
        cursor: pointer;
        color: #fff;
        background-color: #777;
      }
    }
  }
  .aside-info{
    height: 100px;
    background-color: #ccc;
  }
}
/* about */
.about-wrap{
  padding-top: 20px;
  margin: 0 auto;
  .layout{
    position: relative;
    .react-grid-item{
      background-color: rgba(0,0,0,0.5);
      transition: all .2s;
    }
    .react-draggable-dragging{
      transition: none;
    }
    .react-grid-placeholder{
      background-color: rgba(0,0,0,0.2);
    }
    .react-resizable-handle{
      position: absolute;
      bottom: 0;
      right: 0;
      width: 10px;
      height: 10px;
      &:hover{
        cursor: se-resize;
      }
    }
    .item{
      display: inline-block;
      width: 80%;
      height: 80%;
    }
  }
}
.template-area{
  position: relative;
  padding-left: 200px;
}
.grid-container{
  position: relative;
  width: 100%;
  div{
    position: absolute;
    width: 50px;
    height: 50px;
  }
}
.counter {
  button {
    width: 12px;
    height: 12px;
    margin-left: 20px;
    margin-top: 12px;
    cursor: pointer;
  }
}