<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../../static/css/global.css">
    <link rel="stylesheet" href="../../../static/css/chatting.css">
  </head>

  <body>
    <div id="chatting" class="chatting">
      <div class="chatting__input">
        <input type="text" class="chatting__input-ctx"><button class="chatting__input-send" id="send">send</button>
      </div>
    </div>
  </body>
</html>
<script src="../../../static/js/chatting.js"></script>
